{% extends "base.html.twig" %}

{% block title %}Bienvenue dans la page d'accueil{% endblock %}

{% block body %}
    <div class="jumbotron text-center">
        <h1>Bienvenue sur Twig</h1>
    </div>
    <div class="container">
        <h2>Les derniers biens</h2>
        <div class="row flex">
            {% for bien in catalogue %}
                <div class="col-3">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">
                                <a href="{{ path('bien.show', {id: bien.id, slug: bien.slug}) }}">{{ bien.nom }}</a>
                            </h5>
                            <p class="card-text">{{ bien.adresse }}, ({{ bien.ville }})</p>
                            <div class="text-primary" style="font-weight: bold; font-size: 2rem;">{{ bien.formattedPrix }}</div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}