{% extends "base.html.twig" %}

{% block title bien.nom %}

{% block body %}
    <div class="jumbotron">
        <div class="container">
            <div class="row">
                <div class="col-md-8"></div>
                <div class="col-md-4">
                    <h1>{{ bien.nom }}</h1>
                    <h2>{{ bien.pieces }} pièces - {{ bien.surface }} m²</h2>
                    <div class="text-primary" style="font-weight: bold; font-size: 2rem;">{{ bien.formattedPrix }}</div>
                    <a href="#" class="btn btn-primary">Contactez l'agence</a>
                </div>
            </div>
        </div>
    </div>
    <div class="container mt-4">
        <p>{{ bien.description | nl2br }}</p>
        <div class="row">
            <div class="col-md-8">
                <h2>Caracteristiques</h2>
                <table class="table table-striped">
                    <tr>
                        <td>Surface habitale</td>
                        <td>{{ bien.surface }}</td>
                    </tr>
                    <tr>
                        <td>Pièces</td>
                        <td>{{ bien.pieces }}</td>
                    </tr>
                    <tr>
                        <td>Chambres</td>
                        <td>{{ bien.chambres }}</td>
                    </tr>
                    <tr>
                        <td>Climatisation</td>
                        <td>{{ bien.typeClimatisation }}</td>
                    </tr>
                </table>
            </div>
            <div class="col-md-4">
                <h2>Spécificités</h2>
            </div>
        </div>
    </div>
{% endblock %}